html{
    scroll-behavior: smooth;
}
.tracker{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
}
.trackerTitle{
   
    width: 100%;
    display: flex;
    flex-direction: row;
   text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}
.trackerTitle h1{
    align-items: center;
    text-align: center;
    margin-left: 10px;
    align-self: center;
}
#titleHead1{
   align-self: center;
   margin-left: 30vw;
}
#titleHead2{
    color: #ef233c;
    text-decoration: solid;
}
.trackerContainer{
    display: flex;
    flex-direction: row;
}

.trackerItem1{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: #ef233c;
    margin-left: 60px;
    border-radius: 50px;
    align-items:center;
}
#item1:hover{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: #ef233c;
    border-style: solid;
    border-width: 10px;
    border-color: #ef233c;
    margin-left: 80px;
    border-radius: 50px;
    align-items:center;
 
    
}

.trackerItem1 img{
    height: 100px;
    width: 100px;
}
.trackerItem1 h2{
    margin: 10px;
    color: black;
    font-size: 25px;
}
.trackerItem1 h4{
   
    margin: 10px;
    margin-top: 5px;
    color: black;
    font-size: 15px;
}
.trackerItem2{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: #2367ef;
    margin-left: 20px;
    border-radius: 50px;
    align-items:center;
}
#item1:hover{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: #ef233c;
    border-style: solid;
    border-width: 10px;
    border-color: #ef233c;
    margin-left: 80px;
    border-radius: 50px;
    align-items:center;
 
    
}

.trackerItem2 img{
    height: 100px;
    width: 100px;
}
.trackerItem2 h2{
    margin: 10px;
    color: black;
    font-size: 25px;
}
.trackerItem2 h4{
    margin: 10px;
    margin-top: 5px;
    color: black;
    font-size: 15px;
}
.trackerItem3{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: #37ef23;
    margin-left: 20px;
    border-radius: 50px;
    align-items:center;
}
#item1:hover{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: #ef233c;
    border-style: solid;
    border-width: 10px;
    border-color: #ef233c;
    margin-left: 80px;
    border-radius: 50px;
    align-items:center;
 
    
}

.trackerItem3 img{
    height: 100px;
    width: 100px;
}
.trackerItem3 h2{
    margin: 10px;
    color: black;
    font-size: 25px;
}
.trackerItem3 h4{
    margin: 10px;
    margin-top: 5px;
    color: black;
    font-size: 15px;
}
.trackerItem4{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: #f5ac1b;
    margin-left: 20px;
    border-radius: 50px;
    align-items:center;
}
#item1:hover{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 230px;
    background-color: #ef233c;
    border-style: solid;
    border-width: 10px;
    border-color: #ef233c;
    margin-left: 40px;
    border-radius: 50px;
    align-items:center;
 
    
}

.trackerItem4 img{
    height: 100px;
    width: 100px;
}
.trackerItem4 h2{
    margin: 10px;
    color: black;
    font-size: 25px;
}
.trackerItem4 h4{
    margin: 10px;
    margin-top: 5px;
    color: black;
    font-size: 15px;
}
.iconArrow{
    align-self: center;
}