html{
    scroll-behavior: smooth;
}
.tracker{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
}
.trackerTitle{
   
    width: 100%;
    display: flex;
    flex-direction: row;
   text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}
.trackerTitle h1{
    align-items: center;
    text-align: center;
    margin-left: 10px;
    align-self: center;
}
#titleHead1{
   align-self: center;
   margin-left: 30vw;
}
#titleHead2{
    color: #ef233c;
    text-decoration: solid;
}
.trackerCards{
    display: flex;
    flex-direction: row;
    margin-top: 0rem;
    flex-wrap: wrap;
}
.card{
    width: 18rem;
    border-width: 0rem;
}
.cardIndex{
    background-color: #bab5a8;
    width: 1.3rem;
    border-radius: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.card img{

    border-color: #bab5a8;
    border-style: solid;
    border-radius: 90%;
    align-self: center;
    height: 6rem;
    width: 6rem;
}
.card-title{
    font-size: 1rem;
}


@media screen and (max-width: 480px){
    .trackerCards{
        flex-direction: column;
    }
    .trackerCards CurvedArrow{
        display: none;
    }.trackerTitle{
        margin-left: -30px;
    }
}
@media screen and (max-width: 575px){
    .trackerCards{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        column-count: 2;
    }
    .trackerCards CurvedArrow{
        display: none;
    }.trackerTitle{
        margin-left: -30px;
    }
}