/* Hide the scrollbar on all elements */
::-webkit-scrollbar {
  display: none;
}

/* Optional: Add styling to the scrollbar track and thumb */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
html,body{
  margin-bottom: -4.5rem !important;
  scroll-behavior: smooth;
}

.des{
 width:220px !important;
 height:200px !important;
 cursor: pointer;
 transition: transform 0.3s ease;
}

.des:hover{
  transform: scale(1.08);
}

.description {
  height: 940px !important;
 /*margin-bottom:20rem !important;*/
/*background-color: #d3c8c8;*/
background: linear-gradient(45deg, #f2f2f2, #ebebeb);

}

.otp-field {
  width: 35px;
  height: 30px;
}

@media (min-width: 270px) and (max-width:455px) {
  .description {
    height: 3800px !important;
     /* Set the desired height for the div */
  }
}

@media (min-width: 456px) and (max-width:691px) {
  .description {
    height: 2100px !important;
    /* Set the desired height for the div */
  }
}

@media (min-width: 692px) and (max-width:1080px) {
  .description {
    height: 1400px !important;
   /* Set the desired height for the div */
  }
}
