/* Hide the scrollbar on all elements */
::-webkit-scrollbar {
  display: none;
}

/* Optional: Add styling to the scrollbar track and thumb */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
html,body{
  margin-bottom: -4.5rem !important;
  scroll-behavior: smooth;
}

.des{
 width:220px !important;
 height:200px !important;
}
.description {
  height:800px !important;
  margin-bottom:20rem !important;
}

@media (min-width: 270px) and (max-width:455px) {
  .description {
    height: 3400px !important;
    margin-bottom:25rem !important; /* Set the desired height for the div */
  }
}

@media (min-width: 456px) and (max-width:1000px) {
  .description {
    height: 1700px !important;
    margin-bottom:25rem !important; /* Set the desired height for the div */
  }
}
